<% if @sushi %>
  <h2><%= @sushi.name %>'s ingredient</h2>
<% end %>

<h4 class="red-text"> Name: <%= @ingredient.name %>  </h4>
<h5>Calories: <%= @ingredient.calories %></h5>
<h5>Serving Size (grams): <%= @ingredient.serving_size_grams %></h5>